@model ChangePasswordViewModel

<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">ONX.CRM</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">

                            <a asp-controller="Profile" asp-action="Index">Profile</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Change password for a user @Model.Email</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <form asp-controller="Profile" asp-action="ChangePassword" method="post">
                            <h2 class="text-center m-0">Change password</h2>
                            <div class="card-body">
                                <div>
                                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                                </div>
                                <div>
                                    <input type="hidden" asp-for="Email" value="@Model.Email" />
                                </div>
                                <div class="text-danger mb-3 justify-content-center" asp-validation-summary="ModelOnly"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label asp-for="OldPassword" class="form-label">Old Password</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <div class="input-group" id="show_hide_new_password">
                                            <input type="password" class="form-control border-end-0" asp-for="OldPassword" placeholder="Enter Password">
                                            <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                        </div>
                                        <span class="alert-danger" asp-validation-for="OldPassword"></span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <label asp-for="NewPassword" class="form-label">New Password</label>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <div class="input-group" id="show_hide_password">
                                            <input type="password" class="form-control border-end-0" asp-for="NewPassword" placeholder="Enter Password">
                                            <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                        </div>
                                        <span class="alert-danger" asp-validation-for="NewPassword"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <button type="submit" class="btn btn-outline-primary px-4">Save</button>
                                        <a type="button" class="btn btn-outline-danger px-4" asp-controller="Profile" asp-action="Index">Close</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
