
@{
}
<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">ONX-Academy</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container">
            <h1>About ONX-Academy in Minsk</h1>
            <p>
                Our academy (brand of the Educational Center for Programming and High Technologies) provides high-quality
                <norb>
                    IT education
                </norb> and prepares highly qualified specialists who are able to work in a dynamically developing industry.
                The center annually graduates more than 1,500 specialists in such areas as software development,
                software testing, web design, business analysis. Our teachers have developed more than 160 training
                courses at various levels of training.
            </p>
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                        <div class="col">
                            <h2>
                                Leadership
                            </h2>
                            <p>
                                ONYX-Academy was opened in 2016, five years after the founding of the High-Tech Park.
                                The center was created in order to prepare beginner IT specialists for work in the industry.
                                Until October 2019, the activity was carried out under the name "Educational Center of the
                                High-Tech Park". From the moment of the first graduation, a long way of development and
                                formation has been passed. In connection with the tenth anniversary, rebranding has begun.
                                Today, IT-Academy can be proud of the title of the best center for IT education
                                (according to an independent survey among the residents of the Park of High Technologies).
                            </p>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/assets/images/gallery/40.png" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text">HTML/CSS and JavaScript.</h5>
                                    <p class="card-text">It is possible to become an expert at this from a beginner in a short amount of time, 
                                        which is why it has become a great choice among developers.</p>
                                    <p class="card-text">We know for sure!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/assets/images/gallery/35.png" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">iOS Developer</h5>
                                    <p class="card-text">Swift successfully combine the efficiency and performance 
                                        of compiled languages with the interactivity and simplicity of popular scripting languages...</p>
                                    <p class="card-text">...and also very high salaries!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h2>
                                Purpose
                            </h2>
                            <p>
                                Popularization of the IT sphere, raising the standards of education,
                                training specialists for Belarusian and international IT companies, mainly for
                                companies that are residents of the Park of High Technologies. As well as helping
                                budding IT specialists find their first job in the industry.
                            </p>
                        </div>
                    </div>
                    <div class="card-group shadow">
                        <div class="card border-end shadow-none">
                            <div class="card-body">
                                <h5 class="card-title text-danger rounded">4 branch offices: Minsk, Grodno, Gomel, Brest</h5>
                                <p class="card-text">
                                    Modern computerized auditoriums equipped with projectors and whiteboards.
                                    Convenient location.
                                </p>
                            </div>
                        </div>
                        <div class="card border-end shadow-none">
                            <div class="card-body">
                                <h5 class="card-title text-danger rounded">87 teachers</h5>
                                <p class="card-text">
                                    Students receive knowledge from practicing specialists with at
                                    least four years of work experience.
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="card shadow-none">
                            <div class="card-body">
                                <h5 class="card-title text-danger rounded">5 years of work</h5>
                                <p class="card-text">
                                    Every year the center trains more than 1,500 junior-level specialists
                                    (graduates of professional courses). About 160
                                    training courses in 20 IT areas have been developed for students.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
                        <div class="col">
                            <h2>We give you a ticket to the profession</h2>
                            <p>
                                It is important for us not only to provide up-to-date knowledge, but to
                                help result-oriented students find their first job in IT and firmly gain
                                a foothold in the industry
                            </p>
                            <p>
                                Therefore, instead of disparate courses, we focus on structured and sequential
                                programs, the study of which allows you to get a job as a Junior Specialist.
                            </p>
                            <p>
                                Courses at IT-Academy are focused on different levels of training. Among the students
                                there are both graduates of technical universities and owners of their own companies,
                                former accountants, managers, philologists. They have different tasks - someone wants to
                                strengthen their knowledge or gain practical experience, while someone will have to learn
                                from scratch. With this in mind, we made our programs flexible.
                            </p>
                            <p>
                                We also have an “Employment Program”, which allows, after successfully completing all stages
                                of training, to receive the coveted position in almost any IT company.
                            </p>
                        </div>
                        <div class="col">
                            <img src="~/assets/images/gallery/36.png" class="card-img-bottom" alt="...">
                        </div>
                    </div>
                    <div class="card-group shadow">
                        <div class="card border-end shadow-none">
                            <div class="card-body">
                                <h2 class="card-title text-warning rounded">5551</h2>
                                <b>graduates employed</b>
                                <p class="card-text">
                                    Every year, we provide about 10% of the Hi-Tech Park's demand for new specialists
                                    at the expense of our graduates.
                                </p>
                            </div>
                        </div>
                        <div class="card border-end shadow-none">
                            <div class="card-body">
                                <h2 class="card-title text-warning rounded">500+</h2>
                                <b>partner-employers</b>
                                <p class="card-text">
                                    We actively cooperate with leading IT companies and are the first to
                                    know about vacancies.
                                </p>
                            </div>
                        </div>
                        <hr />
                        <div class="card shadow-none">
                            <div class="card-body">
                                <h2 class="card-title text-warning rounded">up to 88%</h2>
                                <b>chances of getting a job in IT</b>
                                <p class="card-text">
                                    Those who are serious about the result have high chances
                                    to gain a foothold in the industry.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>