@{
}
<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">ONX-Academy</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container">
            <h4 class="mb-0 text-uppercase">Need help with courses?</h4>
            <h6 class="mb-0 text-uppercase">Contact us</h6>
            <hr />
            <div class="card">
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-4">
                        <div class="col">

                            <img src="~/assets/images/gallery/43Minsk.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Minsk</h4>
                                <ul>
                                    <li>
                                        <p>+375 (29) 222–24–60 MTS</p>
                                    </li>
                                    <li>
                                        <p>+375 (44) 222–24–60 A1</p>
                                    </li>
                                    <li>
                                        <p>+375 (25) 760–24–60 life :)</p>
                                    </li>
                                </ul>
                                <p class="card-text">st. Skryganova, 14, 5th floor</p>
                                <div>We consult from 8:30 to 19:00</div>
                                <div>Closed: Saturday and Sunday</div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="~/assets/images/gallery/42Grodno.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Grodno</h4>
                                <ul>
                                    <li>
                                        <p>+375 (29) 111–37–22 MTS</p>
                                    </li>
                                    <li>
                                        <p>+375 (44) 111–37–23 A1</p>
                                    </li>
                                </ul>
                                <p class="card-text">st. M.Gorky, 1</p>
                                <div>We consult from 9:00 to 18:00</div>
                                <div>Closed: Saturday and Sunday</div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="~/assets/images/gallery/43Gomel.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Gomel</h4>
                                <ul>
                                    <li>
                                        <p>+375 (29) 545–24–80 MTS</p>
                                    </li>
                                    <li>
                                        <p>+375 (44) 141–24–80 A1</p>
                                    </li>
                                </ul>
                                <p class="card-text">Rechitskiy prospect 80, 2nd floor</p>
                                <div>We consult from 8:00 to 20:00</div>
                                <div>Closed: Saturday and Sunday</div>
                            </div>
                        </div>
                        <div class="col">
                            <img src="~/assets/images/gallery/44Brest.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title">Brest</h4>
                                <ul>
                                    <li>
                                        <p>+375 (29) 222–24–60 MTS</p>
                                    </li>
                                    <li>
                                        <p>+375 (44) 222–24–60 A1</p>
                                    </li>
                                </ul>
                                <p class="card-text">
                                    <div>st. Skryganova, 14, 5th floor</div>
                                    <div>5th floor, office 57</div>
                                </p>
                                <div>We consult from 9:00 to 18:00</div>
                                <div>Closed: Saturday and Sunday</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>