@{
    var theme = (string)ViewBag.Theme;
    var photo = (byte[])ViewBag.Photo;

}
<!doctype html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/images/education1.png" type="image/png">
    <!--plugins-->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet">
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet">
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/dark-theme.css">
    <link rel="stylesheet" href="~/assets/css/semi-dark.css">
    <link rel="stylesheet" href="~/assets/css/header-colors.css">
    <title>ONX-Academy</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/assets/images/cap_graduation.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Index"><h4 class="logo-text">ONX.CRM</h4></a>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class="bx bx-arrow-to-left"></i>
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <div class="parent-icon">
                                <i class="bx bx-home-circle"></i>
                            </div>
                            <div class="menu-title">Home</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Specializations" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-code-alt"></i>
                            </div>
                            <div class="menu-title">Specializations</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="AboutUs">
                            <div class="parent-icon">
                                <i class="lni lni-emoji-friendly"></i>
                            </div>
                            <div class="menu-title">About us</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="Contacts">
                            <div class="parent-icon">
                                <i class="lni lni-map"></i>
                            </div>
                            <div class="menu-title">Contacts</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="Materials">
                            <div class="parent-icon">
                                <i class='bx bx-cookie'></i>
                            </div>
                            <div class="menu-title">Materials</div>
                        </a>
                    </li>

                }
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <li class="menu-label">Administration</li>

                    <li>
                        <a asp-controller="Requests" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-write"></i>
                            </div>
                            <div class="menu-title">Requests</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Groups" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-school-bench-alt"></i>
                            </div>
                            <div class="menu-title">Groups</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Students" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-graduation"></i>
                            </div>
                            <div class="menu-title">Students</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Teachers" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-network"></i>
                            </div>
                            <div class="menu-title">Teachers</div>
                        </a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <a asp-controller="Managers" asp-action="Index">
                                <div class="parent-icon">
                                    <i class="lni lni-consulting"></i>
                                </div>
                                <div class="menu-title">Managers</div>
                            </a>
                        </li>
                    }
                }
                @if (User.IsInRole("teacher"))
                {
                    <li class="menu-label">Administration</li>
                    <li>
                        <a asp-controller="Teachers" asp-action="Groups">
                            <div class="parent-icon">
                                <i class="lni lni-write"></i>
                            </div>
                            <div class="menu-title">Groups</div>
                        </a>
                    </li>
                }
                @if (User.IsInRole("student"))
                {
                    <li class="menu-label">Administration</li>
                    <li>
                        <a asp-controller="Students" asp-action="Schedule">
                            <div class="parent-icon">
                                <i class="lni lni-list"></i>
                            </div>
                            <div class="menu-title">Schedule</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Students" asp-action="VideoMaterials">
                            <div class="parent-icon">
                                <i class="lni lni-play"></i>
                            </div>
                            <div class="menu-title">Video Materials</div>
                        </a>
                    </li>
                }

            </ul>

            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="Type to search...">
                            <span class="position-absolute top-50 search-show translate-middle-y">
                                <i class='bx bx-search'></i>
                            </span>
                            <span class="position-absolute top-50 search-close translate-middle-y">
                                <i class='bx bx-x'></i>
                            </span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item mobile-search-icon">
                                <a class="nav-link" href="#">
                                    <i class='bx bx-search'></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='lni lni-pallet'></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="0">Dark Theme</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="1">Light Theme</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" a asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="2">Semi Dark Theme</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </header>
        @RenderBody()
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top">
            <i class='bx bxs-up-arrow-alt'></i>
        </a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
    </div>
    <!--end switcher-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/index.js"></script>
    <!--app JS-->
    <script src="~/assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

