@{
    var theme = (string)ViewBag.Theme;
    var photo = (byte[])ViewBag.Photo;
}
<!doctype html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/assets/images/education1.png" type="image/png">
    <!--plugins-->
    <link href="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet">
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet">
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/dark-theme.css">
    <link rel="stylesheet" href="~/assets/css/semi-dark.css">
    <link rel="stylesheet" href="~/assets/css/header-colors.css">
    <title>ONX-Academy</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar-wrapper" data-simplebar="true">
            <div class="sidebar-header">
                <div>
                    <img src="~/assets/images/cap_graduation.png" class="logo-icon" alt="logo icon">
                </div>
                <div>
                    <a asp-controller="Home" asp-action="Index"><h4 class="logo-text">ONX.CRM</h4></a>
                </div>
                <div class="toggle-icon ms-auto">
                    <i class="bx bx-arrow-to-left"></i>
                </div>
            </div>
            <!--navigation-->
            <ul class="metismenu" id="menu">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            <div class="parent-icon">
                                <i class="bx bx-home-circle"></i>
                            </div>
                            <div class="menu-title">Home</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Specializations" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-code-alt"></i>
                            </div>
                            <div class="menu-title">Specializations</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="AboutUs">
                            <div class="parent-icon">
                                <i class="lni lni-emoji-friendly"></i>
                            </div>
                            <div class="menu-title">About us</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="Contacts">
                            <div class="parent-icon">
                                <i class="lni lni-map"></i>
                            </div>
                            <div class="menu-title">Contacts</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Information" asp-action="Materials">
                            <div class="parent-icon">
                                <i class='bx bx-cookie'></i>
                            </div>
                            <div class="menu-title">Materials</div>
                        </a>
                    </li>

                }


                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <li class="menu-label">Administration</li>

                    <li>
                        <a asp-controller="Requests" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-write"></i>
                            </div>
                            <div class="menu-title">Requests</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Groups" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-school-bench-alt"></i>
                            </div>
                            <div class="menu-title">Groups</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Students" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-graduation"></i>
                            </div>
                            <div class="menu-title">Students</div>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Teachers" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-network"></i>
                            </div>
                            <div class="menu-title">Teachers</div>
                        </a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li>
                            <a asp-controller="Managers" asp-action="Index">
                                <div class="parent-icon">
                                    <i class="lni lni-consulting"></i>
                                </div>
                                <div class="menu-title">Managers</div>
                            </a>
                        </li>
                    }




                    <li>
                        <a href="javascript:;" class="has-arrow">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">eCommerce</div>
                        </a>
                        <ul>
                            <li>
                                <a href="ecommerce-products.html"><i class="bx bx-right-arrow-alt"></i>Products</a>
                            </li>
                            <li>
                                <a href="ecommerce-products-details.html">
                                    <i class="bx bx-right-arrow-alt"></i>Product
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-add-new-products.html">
                                    <i class="bx bx-right-arrow-alt"></i>Add New
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-orders.html"><i class="bx bx-right-arrow-alt"></i>Orders</a>
                            </li>
                        </ul>
                    </li>
                }


                @if (User.IsInRole("teacher"))
                {
                    <li class="menu-label">Administration</li>

                    <li>
                        <a asp-controller="Teachers" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-network"></i>
                            </div>
                            <div class="menu-title">Home</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Requests" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-write"></i>
                            </div>
                            <div class="menu-title">Schedule</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Groups" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-school-bench-alt"></i>
                            </div>
                            <div class="menu-title">Materials</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Students" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-graduation"></i>
                            </div>
                            <div class="menu-title">Webinar room</div>
                        </a>
                    </li>




                    <li>
                        <a href="javascript:;" class="has-arrow">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">eCommerce</div>
                        </a>
                        <ul>
                            <li>
                                <a href="ecommerce-products.html"><i class="bx bx-right-arrow-alt"></i>Products</a>
                            </li>
                            <li>
                                <a href="ecommerce-products-details.html">
                                    <i class="bx bx-right-arrow-alt"></i>Product
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-add-new-products.html">
                                    <i class="bx bx-right-arrow-alt"></i>Add New
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-orders.html"><i class="bx bx-right-arrow-alt"></i>Orders</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("student"))
                {
                    <li class="menu-label">Administration</li>

                    <li>
                        <a asp-controller="Teachers" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-network"></i>
                            </div>
                            <div class="menu-title">Home</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Requests" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-write"></i>
                            </div>
                            <div class="menu-title">Schedule</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Groups" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-school-bench-alt"></i>
                            </div>
                            <div class="menu-title">Materials</div>
                        </a>
                    </li>

                    <li>
                        <a asp-controller="Students" asp-action="Index">
                            <div class="parent-icon">
                                <i class="lni lni-graduation"></i>
                            </div>
                            <div class="menu-title">Webinar room</div>
                        </a>
                    </li>




                    <li>
                        <a href="javascript:;" class="has-arrow">
                            <div class="parent-icon">
                                <i class='bx bx-cart'></i>
                            </div>
                            <div class="menu-title">eCommerce</div>
                        </a>
                        <ul>
                            <li>
                                <a href="ecommerce-products.html"><i class="bx bx-right-arrow-alt"></i>Products</a>
                            </li>
                            <li>
                                <a href="ecommerce-products-details.html">
                                    <i class="bx bx-right-arrow-alt"></i>Product
                                    Details
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-add-new-products.html">
                                    <i class="bx bx-right-arrow-alt"></i>Add New
                                    Products
                                </a>
                            </li>
                            <li>
                                <a href="ecommerce-orders.html"><i class="bx bx-right-arrow-alt"></i>Orders</a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>

            <!--end navigation-->
        </div>
        <!--end sidebar wrapper -->
        <!--start header -->
        <header>
            <div class="topbar d-flex align-items-center">
                <nav class="navbar navbar-expand">
                    <div class="mobile-toggle-menu">
                        <i class='bx bx-menu'></i>
                    </div>
                    <div class="search-bar flex-grow-1">
                        <div class="position-relative search-bar-box">
                            <input type="text" class="form-control search-control" placeholder="Type to search...">
                            <span class="position-absolute top-50 search-show translate-middle-y">
                                <i class='bx bx-search'></i>
                            </span>
                            <span class="position-absolute top-50 search-close translate-middle-y">
                                <i class='bx bx-x'></i>
                            </span>
                        </div>
                    </div>
                    <div class="top-menu ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item mobile-search-icon">
                                <a class="nav-link" href="#">
                                    <i class='bx bx-search'></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class='lni lni-pallet'></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="0">Dark Theme</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="1">Light Theme</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" a asp-controller="Base" asp-action="ChangeTheme"
                                           asp-route-themeId="2">Semi Dark Theme</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">7</span>
                                    <i class='bx bx-bell'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Notifications</p>
                                            <p class="msg-header-clear ms-auto">Marks all as read</p>
                                        </div>
                                    </a>
                                    <div class="header-notifications-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class="bx bx-group"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New Customers<span class="msg-time float-end">
                                                            14 Sec
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">5 new user registered</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-danger text-danger">
                                                    <i class="bx bx-cart-alt"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New Orders <span class="msg-time float-end">
                                                            2
                                                            min
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">You have recived new orders</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-success text-success">
                                                    <i class="bx bx-file"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        24 PDF File<span class="msg-time float-end">
                                                            19
                                                            min
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">The pdf files generated</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-warning text-warning">
                                                    <i class="bx bx-send"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Time Response <span class="msg-time float-end">
                                                            28 min
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">5.1 min avarage time response</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-info text-info">
                                                    <i class="bx bx-home-circle"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New Product Approved <span class="msg-time float-end">2 hrs ago</span>
                                                    </h6>
                                                    <p class="msg-info">Your new product has approved</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-danger text-danger">
                                                    <i class="bx bx-message-detail"></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New Comments <span class="msg-time float-end">
                                                            4
                                                            hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">New customer comments recived</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-success text-success">
                                                    <i class='bx bx-check-square'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Your item is shipped <span class="msg-time float-end">
                                                            5 hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Successfully shipped your item</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-primary text-primary">
                                                    <i class='bx bx-user-pin'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        New 24 authors<span class="msg-time float-end">
                                                            1 day
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">24 new authors joined last week</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="notify bg-light-warning text-warning">
                                                    <i class='bx bx-door-open'></i>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Defense Alerts <span class="msg-time float-end">
                                                            2 weeks
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">45% less alerts last 4 weeks</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">View All Notifications</div>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-large">
                                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="alert-count">8</span>
                                    <i class='bx bx-comment'></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="javascript:;">
                                        <div class="msg-header">
                                            <p class="msg-header-title">Messages</p>
                                            <p class="msg-header-clear ms-auto">Marks all as read</p>
                                        </div>
                                    </a>
                                    <div class="header-message-list">
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-1.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Daisy Anderson <span class="msg-time float-end">
                                                            5 sec
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">The standard chunk of lorem</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-2.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Althea Cabardo <span class="msg-time float-end">
                                                            14
                                                            sec ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Many desktop publishing packages</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-3.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Oscar Garner <span class="msg-time float-end">
                                                            8
                                                            min
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Various versions have evolved over</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-4.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Katherine Pechon <span class="msg-time float-end">
                                                            15
                                                            min ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Making this the first true generator</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-5.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Amelia Doe <span class="msg-time float-end">
                                                            22
                                                            min
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Duis aute irure dolor in reprehenderit</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-6.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Cristina Jhons <span class="msg-time float-end">
                                                            2 hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">The passage is attributed to an unknown</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-7.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        James Caviness <span class="msg-time float-end">
                                                            4 hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">The point of using Lorem</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-8.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Peter Costanzo <span class="msg-time float-end">
                                                            6 hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">It was popularised in the 1960s</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-9.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        David Buckley <span class="msg-time float-end">
                                                            2 hrs
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">Various versions have evolved over</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="assets/images/avatars/avatar-10.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Thomas Wheeler <span class="msg-time float-end">
                                                            2 days
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">If you are going to use a passage</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;">
                                            <div class="d-flex align-items-center">
                                                <div class="user-online">
                                                    <img src="~/assets/images/avatars/avatar-11.png" class="msg-avatar"
                                                         alt="user avatar">
                                                </div>
                                                <div class="flex-grow-1">
                                                    <h6 class="msg-name">
                                                        Johnny Seitz <span class="msg-time float-end">
                                                            5
                                                            days
                                                            ago
                                                        </span>
                                                    </h6>
                                                    <p class="msg-info">All the Lorem Ipsum generators</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:;">
                                        <div class="text-center msg-footer">View All Messages</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <partial name="_LoginPartial" />
                    </div>
                </nav>
            </div>
        </header>
        @RenderBody()
        <!--end page wrapper -->
        <!--start overlay-->
        <div class="overlay toggle-icon"></div>
        <!--end overlay-->
        <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top">
            <i class='bx bxs-up-arrow-alt'></i>
        </a>
        <!--End Back To Top Button-->
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
    </div>
    <!--end switcher-->
    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/chartjs/js/Chart.min.js"></script>
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/assets/plugins/sparkline-charts/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/index.js"></script>
    <!--app JS-->
    <script src="~/assets/js/app.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

