@{
    var photo = (byte[])ViewBag.Photo;
}
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="user-box dropdown">
            <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">

                @if (photo.Length != 0)
                {
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(photo))" class="user-img bg-primary" alt="user avatar">
                }
                else
                {
                    <img src="~/assets/images/education1.png" class="user-img bg-primary" alt="user avatar">
                }
                <div class="user-info ps-3">
                    <p class="user-name mb-0">@User.Identity.Name</p>
                    @if (User.IsInRole("admin"))
                    {
                        <p class="designattion mb-0">Admin</p>
                    }
                    @if (User.IsInRole("manager"))
                    {
                        <p class="designattion mb-0">Manager</p>
                    }
                    @if (User.IsInRole("student"))
                    {
                        <p class="designattion mb-0">Student</p>
                    }
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                @if (!User.IsInRole("admin"))
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Index">
                            <i asp-controller="" class="bx bx-user"></i><span>Profile</span>
                        </a>
                    </li>
                }
                <li>
                    <a class="dropdown-item" href="javascript:;">
                        <i class="bx bx-cog"></i><span>Settings</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:;">
                        <i class='bx bx-home-circle'></i><span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:;">
                        <i class='bx bx-dollar-circle'></i><span>Earnings</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:;">
                        <i class='bx bx-download'></i><span>Downloads</span>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider mb-0"></div>
                </li>
                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="dropdown-item"><i class='bx bx-log-out-circle'></i><span>Logout</span></button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="user-box ps-4">
            <a class="btn btn-outline-warning px-3 radius-30" asp-controller="Account" asp-action="Authorization"><i class='bx bx-lock'></i> Login</a>
        </div>
    }
</div>

