@{
    ViewData["Title"] = "Home Page";
}
<div class="page-wrapper">
    <div class="page-content">


        <h1>ONX-Academy training courses</h1>
        <hr />
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
            <div class="col">
                <p>
                    Our academy (a brand of the Educational Center for Programming and High Technologies)
                    gives an excellent start to everyone who wants to work in a dynamically developing
                    industry and build a successful career in IT.
                </p>
                <p>
                    We offer training courses in the most
                    relevant areas: software development (Java, .NET, PHP, Python, C ++, iOS, Android),
                    testing (manual and automated Java / Python), business analysis, UI / UX and web design,
                    internet marketing, IT Sales, data science (Data Science, Machine Learning, Big Data). The
                    programs are designed for different levels of preparation.
                </p>
                <p>
                    The educational center for programming and high technologies specializes in the training 
                    of IT specialists of the Junior level. At the same time, the task of the IT-Academy is not 
                    just to provide students with relevant knowledge, but to help them gain a foothold in the 
                    industry. By the end of 2020, 350 companies have recruited more than 860 graduates. In total, 
                    since 2016, 3510 people have been employed with the help of the center.
                </p>

            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class=""></li>
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class=""></li>
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <img src="~/assets/images/gallery/notebook3.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/images/gallery/notebook2.jpg" class="d-block w-100" alt="...">

                                </div>
                                <div class="carousel-item active">
                                    <img src="~/assets/images/gallery/notebook1.jpg" class="d-block w-100" alt="...">

                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>




        </div>




        <h1>WHY CHOOSE ONX-ACADEMY</h1>
        <hr />

        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
            <div class="col">

                <img src="~/assets/images/gallery/44plan.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Plan of the education</h5>
                    <p class="card-text">
                        By following a well-defined training plan, you can form the required
                        set of knowledge and skills. The curricula are based on the requirements of
                        IT companies for a specialist.
                    </p>
                </div>

            </div>
            <div class="col">

                <img src="~/assets/images/gallery/45modern_knowledg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Modern knowledge base</h5>
                    <p class="card-text">
                        More than 11 courses in all the most popular programming languages
                        and information technologies - for both novice developers and professionals.
                    </p>
                </div>

            </div>
            <div class="col">

                <img src="~/assets/images/gallery/46laptop.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Educational materials</h5>
                    <p class="card-text">
                        Each lesson contains a set of educational materials - a reference
                        outline with the most important information, code examples, assignments for
                        independent work, additional useful resources.
                    </p>
                </div>

            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
            <div class="col">

                <img src="~/assets/images/gallery/47hw-check.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Homework check</h5>
                    <p class="card-text">
                        The programmer must be able to write code, solve the
                        assigned tasks. Complete tasks for each lesson and send them for review.
                        Work on bugs to improve your skills.
                    </p>
                </div>


            </div>
            <div class="col">
                <div class="card">
                    <img src="~/assets/images/gallery/48growth.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Continuous growth and development</h5>
                        <p class="card-text">
                            We don't stand still! Every month 2-3 new courses on the newest
                            technologies appear on ONX-Academy, as well as the previously created courses are updated
                            and supplemented.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/assets/images/gallery/49knowledge-check.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Knowledge test and certificate</h5>
                        <p class="card-text">
                            After each lesson, test yourself by completing our assignments.
                            At the end of the course, take the test throughout the course and receive a
                            Certificate. And after training in the entire specialty, pass the final exam and
                            receive a Diploma.
                        </p>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>
